#profilePhoto {
    border: 1px solid blue;
}

.inputModifyData {
    appearance: none;
	border: none;
	outline: none;
	border-bottom: .2em solid #1e4de9;
	background: rgba(#464646, .2);
	border-radius: .2em .2em 0 0;
	padding: .0em;
	color: #464646;
    width: 90%;
}